.card-body {
    background-color: rgb(124, 166, 201);
}

.card-title {
    color: black;
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

p {
    text-align: center;
}

.wrapper {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-img-top {
    width: 100%; 
    height: 40vw;
    object-fit: contain; 
}

.card-columns {
    column-count: 2;
  }

.card {
    display: inline-block;
}

.comment-form {
    padding-top: 20px;
    padding-left: 500px;
}

.form-group {
    width: 50%;
}