<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Reimbursement</display-name>
  <servlet>
    <display-name>MasterServlet</display-name>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>com.revature.servlet.MasterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EmpProfileServlet</display-name>
    <servlet-name>EmpProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpProfileServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MgrProfileServlet</display-name>
    <servlet-name>MgrProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.MgrProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrProfileServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrPendingReqServlet</display-name>
    <servlet-name>MgrPendingReqServlet</servlet-name>
    <servlet-class>com.revature.servlet.MgrPendingReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrPendingReqServlet</servlet-name>
    <url-pattern>/pendingReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MgrResolvedReqServlet</display-name>
    <servlet-name>MgrResolvedReqServlet</servlet-name>
    <servlet-class>com.revature.servlet.MgrResolvedReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrResolvedReqServlet</servlet-name>
    <url-pattern>/resolvedReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>EmpInfoServlet</display-name>
    <servlet-name>EmpInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpInfoServlet</servlet-name>
    <url-pattern>/empInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.revature.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MgrReqByIdServlet</display-name>
    <servlet-name>MgrReqByIdServlet</servlet-name>
    <servlet-class>com.revature.servlet.MgrReqByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrReqByIdServlet</servlet-name>
    <url-pattern>/reqId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrInfoServlet</display-name>
    <servlet-name>MgrInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.MgrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrInfoServlet</servlet-name>
    <url-pattern>/mgrInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllEmpServlet</display-name>
    <servlet-name>AllEmpServlet</servlet-name>
    <servlet-class>com.revature.servlet.AllEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllEmpServlet</servlet-name>
    <url-pattern>/allEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/submitReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpPendingReqServlet</display-name>
    <servlet-name>EmpPendingReqServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpPendingReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPendingReqServlet</servlet-name>
    <url-pattern>/empPendingReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpResolvedReqServlet</display-name>
    <servlet-name>EmpResolvedReqServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmpResolvedReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpResolvedReqServlet</servlet-name>
    <url-pattern>/empResolvedReq</url-pattern>
  </servlet-mapping>
</web-app>